*{
    margin:0 ;
    font-family:Arial ;
    border: border-box ;
}
.navbar{
    height:60px ;
    background-color:#131921 ;
    display:flex ;
    align-items:center ;
    justify-content:space-between ;
    color:white ;
    padding:0 20px ;
}   
.logo{
    background-image: url(OIP.webp);
}