*{
    margin:0 ;
    font-family:Arial ;
    border: border-box ;
}
.navbar{
    height:60px ;
    background-color:#131921 ;
    display:flex ;
    align-items:center ;
    justify-content:space-between ;
    color:white ;
    padding:0 20px ;
}   
.nav-logo{
    height: 50px;
    width:100px ;
}
.logo{
    background-image: url("Amazonlogo.png");
    background-size:cover ;
    background-color: aliceblue;
    height: 50px ;
    width:100px ;
}
.border:hover{
    border: 2px solid white ;
    padding: 5px ;
    border-radius: 5px ;
}
